{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="profile-picture-container">
        <img draggable="false" src="{{ .imageUrl | absURL }}" class = "circular-profile-picture"/>
        <div class="content-container">
            <header class="entry-header">
                <h1>{{ .title | markdownify }}</h1>
            </header>
            <div class="entry-content">
                {{ .content | markdownify }}
            </div>
        </div>
    </div>
</article>
{{- end }}
