{{- /* layouts/partials/index_profile.html */}}

{{- /* 1. THE NORMAL PROFILE */}}
<div class="profile-mode-normal">
    <div class="profile">
        {{- with site.Params.profileMode }}
        <div class="profile_inner">
            {{- if .imageUrl }}
            {{- $img := resources.Get .imageUrl }}
            {{- if $img }}
                {{- $img = $img.Resize "150x150" }}
                <img src="{{ $img.Permalink }}" alt="{{ .imageTitle | default "profile image" }}" height="150" width="150" />
            {{- else }}
                <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" height="150" width="150" />
            {{- end }}
            {{- end }}
            <h1>{{ .title | default site.Title | markdownify }}</h1>
            <span>{{ .subtitle | markdownify }}</span>
            {{- partial "social_icons.html" site.Params.socialIcons -}}

            {{- with .buttons }}
            <div class="buttons">
                {{- range . }}
                <a class="button" href="{{ .url }}" rel="noopener" title="{{ .name }}">
                    <span class="button-inner">{{ .name }}</span>
                </a>
                {{- end }}
            </div>
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>

{{- /* 2. THE UPSIDE DOWN PROFILE (Hidden by default) */}}
<div class="profile-mode-upsidedown" style="display: none;">
    <div class="profile">
        {{- with site.Params.upsideDownProfile }}
        <div class="profile_inner">
             {{- if .imageUrl }}
            {{- /* Simple image loader for the shadow profile */}}
            <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle }}" height="150" width="150" />
            {{- end }}
            
            <h1>{{ .title | markdownify }}</h1>
            <span>{{ .subtitle | markdownify }}</span>
            
            {{- /* Using same social icons, or you can create new params for these too */}}
            {{- partial "social_icons.html" site.Params.socialIcons -}}

            {{- with .buttons }}
            <div class="buttons">
                {{- range . }}
                <a class="button" href="{{ .url }}" rel="noopener" title="{{ .name }}">
                    <span class="button-inner">{{ .name }}</span>
                </a>
                {{- end }}
            </div>
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>